body {
  margin:0px;
  background-color: grey;
}


.actual_temp{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

#actual_temp {
  text-decoration: none;
  color: white;
}


.min_temp{
  margin: 0px;
  padding: 0px;
  text-align: left;
}


#min_temp{
  text-decoration: none;
  color: blue;
}



.max_temp{
  margin: 0px;
  padding: 0px;
  text-align: right;
}


#max_temp{
  text-decoration: none;
  color: red;

}
