/*FONTS*/

@font-face {
 font-family: "CaviarDreams";
 src: url("CaviarDreams.ttf");
}

@font-face {
 font-family: "TheBoldFont";
 src: url("theboldfont.ttf");
}


body {
  margin:0px;
  background-color: grey;
}


.actual_temp{
  margin: 0px;
  padding: 0px;
  text-align: center;
}


#TEMPERATURE {
  font-family: "TheBoldFont";
  color: white;
}


#actual_temp {
  font-family: "CaviarDreams";
  text-decoration: none;
  color: white;
}



.min_temp{
  margin: 0px;
  padding: 0px;
  text-align: left;
}


#min_temp{
  text-decoration: none;
  color: blue;
}



.max_temp{
  margin: 0px;
  padding: 0px;
  text-align: right;
}


#max_temp{
  text-decoration: none;
  color: red;

}
