/*FONTS*/

@font-face {
 font-family: "CaviarDreams";
 src: url("CaviarDreams.ttf");
}

@font-face {
 font-family: "TheBoldFont";
 src: url("theboldfont.ttf");
}


/*MAIN PAGE*/
body {
  position: relative;
  margin:0px;
  background-color: black;
}




/*TEMPERATURE*/


#actual_temp {
  display: fixed;
  vertical-align: middle;
  text-align:center;
  font-size: 150px;
  font-family: "CaviarDreams";
  text-decoration: none;
  color: white;
  line-height: normal;
}








/*MIN TEMPERATURE*/



.min_temp{
  margin: 0px;
  padding: 0px;
  text-align: left;
}





#min_temp{
  font-size: 50px;
  left:0px;
  bottom: 0px;
  position: fixed;
  font-family: "TheBoldFont";
  margin: 0px;
  text-decoration: none;
  color: blue;
}



/*MAX TEMPERATURE*/

.max_temp{
  margin: 0px;
  padding: 0px;
  text-align: right;
}


#max_temp{
  font-size: 50px;
  margin: 0px;
  right:0px;
  bottom: 0px;
  position: fixed;
  font-family: "TheBoldFont";
  text-decoration: none;
  color: red;

}
